.Game-list {
}

.Games-gameBlock {
  width: 100%;
  margin-bottom: 4rem;
  border: 1px solid var(--grey-text);
}

.Games-gameHeader {
  width: 100%;
  background-color: var(--blue);
  color: white;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  height: 4rem;
  border: 1px solid var(--blue);
}

.Games-infoNames {
  display: flex;
  justify-content: flex-end;
}

.Games-infoName {
  flex-basis: 20%;
  font-size: 1.5rem;
  padding-bottom: 0.2rem;
  font-weight: bold;
}

.Games-gameDateTime {
  height: 2.5rem;
  background: var(--grey-text);
  padding-left: 1rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.Games-teamInfo {
  display: flex;
  height: 4rem;
  align-items: center;
}

.Games-teamId {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 10%;
  font-size: 1rem;
}

.Games-teamName {
  flex-basis: 30%;
  font-size: 1.5rem;
  font-weight: bold;
}

.Games-teamStats {
  flex-basis: 20%;
}

.Games-statsButton {
  font-size: 1.3rem;
  background: var(--light-blue);
  border-radius: 0.2rem;
  width: 9.5rem;
  border-color: var(--border-blue);
  box-shadow: 0 2px 1px 1px var(--border-blue)
}

.Games-statsButton:hover {
  background: var(--light-blue);
}

.Games-teamList {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Games-periodBlock {
  display: flex;
}

.Games-period {
  flex-basis: 15%;
  height: 5rem;
  border-bottom: 4px solid var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
