:root {
  --font-family-serif: Garamond, "Times New Roman", serif;
  --font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;

  --grey-border: #EAEAEA;
  --grey-light: #F0F0F0;
  --grey-text: #E3E3E3;
  --grey: #EEEEEE;
  --black: #000;
  --white: #fff;
  --blue: #243A62;
  --lavender: #e6e6fa;
  --light-blue: #E5EEF7;
  --border-blue: #7A8AAF;
  --text-blue: #4362C3;
}

@custom-media --sm (max-width: 500px);
@custom-media --md (min-width: 769px);
@custom-media --lg (min-width: 1025px);
@custom-media --xl (min-width: 1800px);
