.Games {
  display: flex;
  justify-content: space-between;
}

.Games-gameList {
  flex-basis: 68%;
}

.Games-sportsList {
  flex-basis: 30%;
}

.Games-listHeader {
  width: 100%;
  background-color: var(--blue);
  color: white;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  height: 4rem;
  border: 1px solid var(--blue);
}


.Games-periodBlock {
  display: flex;
}

.Games-period {
  flex-basis: 15%;
  height: 5rem;
  border-bottom: 4px solid var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
