.Games {
  display: flex;
  justify-content: space-between;
}

.Games-gameList {
  flex-basis: 68%;
}

.Games-sportsList {
  flex-basis: 30%;
}

.Games-listHeader {
  width: 100%;
  background-color: var(--blue);
  color: white;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  height: 4rem;
  border: 1px solid var(--blue);
}
